# Dependency directories
node_modules/

# Playwright output
playwright-report/
test-results/
blob-report/

#Cucumber output
reports/

# Test coverage
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# Local development tools
.idea/
.oca/
